<div style="padding-top: 70px;">
    <div class="container">
      <table class="table table-bordered table-striped table-hover">
        <tr>
          <td><strong>ID</strong></td>
          <td><strong>Name</strong></td>
          <td><strong>Options</strong></td>
        </tr>
        <tr *ngFor="let cat of cats">
          <td>{{ cat.id }}</td>
            <td>{{ cat.name }}</td>
            <td>
              <a class="btn btn-info" [routerLink]="'/details/' + cat.id"><i class="fa fa-eye"></i> View</a>
            </td>
        </tr>
      </table>
    </div>
  </div>